<%= render 'layout_partials/header',
  page_title: Group.model_name.human(count: 0) %>

<div class="cic-table">
  <div class="box">
    <div class="cic-table m-t-3 m-b-2">
      <% @groups.each do |group| %>
        <div class="cic-table__row">
          <h5><%= group.name %></h5>
          <%= link_to group_path(group), class: 'd-flex align-center gap-1' do %>
            <i class="cic-icon-show fs-h5"></i>
            <%= t('views.show') %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% @left_buttons = [
    { icon: 'cic-icon-arrow---left-2', url: :back, extraClass: 'btn-icon back-link' }
  ]  %>

<% @right_buttons = [
    { icon: 'cic-icon-plus', url: new_group_path, extraClass: 'btn-icon action new btn--extra-large', primary: true }
  ]  %>


