<%= render 'layout_partials/header',
  page_title: 'Page title',
  page_subtitle: 'Page subtitle',
  buttons: [
    { name: "btn1", url: "url1" },
    { name: "btn2", url: "url2", extraClass: "btn-danger" }
  ] %>

<div class="box">
  <h1>Home</h1> <%# erblint:disable HardCodedString %>
  <h2>Home</h2>
  <h3>Home</h3>
  <h4>Home</h4>
  <h5>Home</h5>
  <h6>Home</h6>
  <p>Home</p>
  <p class="fs-step-1 ">Home</p>
  <p class="fs-step-2 text--medium ff-secondary">Home</p>
  <p class="fs-step-2">Home</p>
  <p class="fs-step-3 text--medium ff-secondary">Home</p>
  <p class="fs-step-3">Home</p>

  <div class="d-flex align-baseline">
    <button>Button</button>
    <div class="btn">Button</div>
    <div class="btn-primary">Button</div>
    <div class="btn-secondary">Button</div>
    <div class="btn-accent">Button</div>
    <div class="btn-success">Button</div>
    <div class="btn-info">Button</div>
    <div class="btn-warning">Button</div>
    <div class="btn-danger">Button</div>
    <div class="btn-light">Button</div>
    <div class="btn-dark">Button</div>
    <div class="btn-disabled">Button</div>
    <button disabled>Button</button>

    <div class="btn btn--small">Button</div>
    <div class="btn">Button</div>
    <div class="btn btn--large">Button</div>
    <div class="btn btn--extra-large">Button</div>
  </div>

  <div class="d-flex align-baseline">
    <button class="btn-outline">Button</button>
    <div class="btn-outline">Button</div>
    <div class="btn-outline-primary">Button</div>
    <div class="btn-outline-secondary">Button</div>
    <div class="btn-outline-accent">Button</div>
    <div class="btn-outline-success">Button</div>
    <div class="btn-outline-info">Button</div>
    <div class="btn-outline-warning">Button</div>
    <div class="btn-outline-danger">Button</div>
    <div class="btn-outline-light">Button</div>
    <div class="btn-outline-dark">Button</div>
    <div class="btn-outline-disabled">Button</div>
    <button class="btn-outline" disabled>Button</button>

    <div class="btn-outline btn--small">Button</div>
    <div class="btn-outline">Button</div>
    <div class="btn-outline btn--large">Button</div>
    <div class="btn-outline btn--extra-large">Button</div>
  </div>

  <div class="d-flex align-baseline">
    <button class="btn--overlap btn-outline">Button</button>
    <div class="btn--overlap btn-outline">Button</div>
    <div class="btn--overlap btn-outline-primary">Button</div>
    <div class="btn--overlap btn-outline-secondary">Button</div>
    <div class="btn--overlap btn-outline-accent">Button</div>
    <div class="btn--overlap btn-outline-success">Button</div>
    <div class="btn--overlap btn-outline-info">Button</div>
    <div class="btn--overlap btn-outline-warning">Button</div>
    <div class="btn--overlap btn-outline-danger">Button</div>
    <div class="btn--overlap btn-outline-light">Button</div>
    <div class="btn--overlap btn-outline-dark">Button</div>
    <div class="btn--overlap btn-outline-disabled">Button</div>
    <button class="btn--overlap btn-outline" disabled>Button</button>

    <div class="btn--overlap btn-outline btn--small">Button</div>
    <div class="btn--overlap btn-outline">Button</div>
    <div class="btn--overlap btn-outline btn--large">Button</div>
    <div class="btn--overlap btn-outline btn--extra-large">Button</div>
  </div>


  <div class="control_group checkbox_group">
    <label class="control control-checkbox label-text">First checkbox
      <input type="checkbox" checked="checked"/>
      <div class="control-indicator"></div>
    </label>
    <label class="control control-checkbox control-checkbox--primary label-text">First checkbox
      <input type="checkbox" checked="checked"/>
      <div class="control-indicator"></div>
    </label>
  </div>

  <div class="control_group radio_group">
    <label class="control control-radio label-text">First radio
      <input type="radio" name="radio" checked="checked"/>
      <div class="control-indicator"></div>
    </label>
    <label class="control control-radio control-radio--primary label-text">second radio
      <input type="radio" name="radio"/>
      <div class="control-indicator"></div>
    </label>
  </div>

  <div>
    <label class="control control-toggle label-text">Toggle Text
      <input type="checkbox" checked="checked"/>
      <div class="control-indicator"></div>
    </label>
  </div>
  <div>
    <label class="control control-toggle control-toggle--primary label-text">Toggle Text
      <input type="checkbox" checked="checked"/>
      <div class="control-indicator"></div>
    </label>
  </div>

  <label for="full-name">Full Name</label>
  <input type="text" placeholder="John Doe" name="full-name"/>
  <label for="name">Name</label>
  <input type="text" value="Maria" name="name"/>
</div>


<% @left_buttons = [
    { icon: 'uil uil-estate', url: root_path, extraClass: 'btn-icon' },
    { name: 'btn1', url: template_path },
  ]  %>

<% @right_buttons = [
    { icon: 'uil uil-estate', url: root_path, extraClass: 'btn-icon' },
    { name: 'btn1', url: template_path },
  ]  %>
