<div class="styleguide__grid-title">
  <!--Title-->
  <div class="styleguide_title_main">
  <h1 class="styleguide__title-page">Buttons</h1>
  </div>
  <!--Primary Buttons-->
  <h2 class="styleguide__subtitle-page">Primary Buttons</h2>
  <p class="styleguide__text">Primary button classes should be applied for general purposes.</p>
  <!--Code Box-->
  <div class="styleguide__code-example">
    <!--Tabs-->
    <div class="styleguide__tabs-wrapper">
      <button class="styleguide__tabs is-active" data-tab-id="htmlprimary">
        HTML
      </button>
      <button class="styleguide__tabs" data-tab-id="railsprimary">
        Rails
      </button>
    </div>
    <!--Code-->
    <div class="styleguide__tabs-content">
      <!--HTML-->
      <div class="styleguide__content" data-tab-id="htmlprimary">
        <pre class="language-markup"><code>
          <button type="button" name="button" class="button primary-button small-button">Primary Button Small</button>
          <button type="button" name="button" class="button primary-button medium-button">Primary Button Medium</button>
          <button type="button" name="button" class="button primary-button large-button">Primary Button Large</button>
          <button type="button" name="button" class="button primary-button full-width-button">Primary Button Full Width</button>
        </code></pre>
      </div>
      <!--Rails-->
      <div class="styleguide__content" data-tab-id="railsprimary">
        <pre class="language-erb"><code>
          #1#%= link_to 'Primary Button Small', '#', class: 'button primary-button small-button' %#2#
          #1#%= link_to 'Primary Button Medium', '#', class: 'button primary-button medium-button' %#2#
          #1#%= link_to 'Primary Button Large', '#', class: 'button primary-button large-button' %#2#
          #1#%= link_to 'Primary Button Full Width', '#', class: 'button primary-button full-width-button' %#2#
        </code></pre>
  </div>
    </div>
  </div>
  <!--Buttons Example-->
  <div class= "styleguide__buttons-container">
    <!--Small, Medium & Large Buttons-->
    <div class="styleguide__buttons-container--row">
      <button type="button" name="button" class="button primary-button small-button">Primary Button Small</button>
      <button type="button" name="button" class="button primary-button medium-button">Primary Button Medium</button>
      <button type="button" name="button" class="button primary-button large-button">Primary Button Large</button>
    </div>
    <!--Full Width-->
    <div class="styleguide__buttons-container--row">
      <button type="button" name="button" class="button primary-button full-width-button">Primary Button Full Width</button>
    </div>
  </div>
  <!--Secondary Buttons-->
  <h2 class="styleguide__subtitle-page">Secondary Buttons</h2>
  <p class="styleguide__text">  Secondary button classes should be applied for secondary actions.</p>
  <!--Code Box-->
  <div class="styleguide__code-example">
    <!--Tabs-->
    <div class="styleguide__tabs-wrapper">
      <button class="styleguide__tabs is-active" data-tab-id="htmlsecondary">
        HTML
      </button>
      <button class="styleguide__tabs" data-tab-id="railssecondary">
        Rails
      </button>
    </div>
    <!--Code-->
    <div class="styleguide__tabs-content">
      <!--HTML-->
      <div class="styleguide__content" data-tab-id="htmlsecondary">
        <pre class="language-markup"><code>
          <button type="button" name="button" class="button secondary-button small-button">Secondary Button Small</button>
          <button type="button" name="button" class="button secondary-button medium-button">Secondary Button Medium</button>
          <button type="button" name="button" class="button secondary-button large-button">Secondary Button Large</button>
          <button type="button" name="button" class="button secondary-button full-width-button">Secondary Button Full Width</button>
        </code></pre>
      </div>
      <!--Rails-->
      <div class="styleguide__content" data-tab-id="railssecondary">
        <pre class="language-erb"><code>
          #1#%= link_to 'Secondary Button Small', '#', class: 'button secondary-button small-button' %#2#
          #1#%= link_to 'Secondary Button Medium', '#', class: 'button secondary-button medium-button' %#2#
          #1#%= link_to 'Secondary Button Large', '#', class: 'button secondary-button large-button' %#2#
          #1#%= link_to 'Secondary Button Full Width', '#', class: 'button secondary-button full-width-button' %#2#
        </code></pre>
      </div>
    </div>
  </div>
  <!--Buttons Example-->
  <div class= "styleguide__buttons-container">
    <!--Small, Medium & Large Buttons-->
    <div class="styleguide__buttons-container--row">
      <button type="button" name="button" class="button secondary-button small-button">Secondary Button Small</button>
      <button type="button" name="button" class="button secondary-button medium-button">Secondary Button Medium</button>
      <button type="button" name="button" class="button secondary-button large-button">Secondary Button Large</button>
    </div>
    <!--Full Width-->
    <div class="styleguide__buttons-container--row">
      <button type="button" name="button" class="button secondary-button full-width-button">Secondary Button Full Width</button>
    </div>
  </div>
  <!--Warning Buttons-->
  <h2 class="styleguide__subtitle-page">Warning Buttons</h2>
  <p class="styleguide__text">Warning button classes should be applied on alerts.</p>
  <!--Code Box-->
  <div class="styleguide__code-example">
    <!--Tabs-->
    <div class="styleguide__tabs-wrapper">
      <button class="styleguide__tabs is-active" data-tab-id="htmlwarning">
        HTML
      </button>
      <button class="styleguide__tabs" data-tab-id="railswarning">
        Rails
      </button>
    </div>
    <!--Code-->
    <div class="styleguide__tabs-content">
      <!--HTML-->
      <div class="styleguide__content" data-tab-id="htmlwarning">
        <pre class="language-markup"><code>
          <button type="button" name="button" class="button warning-button small-button">Warning Button Small</button>
          <button type="button" name="button" class="button warning-button medium-button">Warning  Button Medium</button>
          <button type="button" name="button" class="button warning-button large-button">Warning Button Large</button>
          <button type="button" name="button" class="button warning-button full-width-button">Warning Button Full Width</button>
        </code></pre>
  </div>
      <!--Rails-->
      <div class="styleguide__content" data-tab-id="railswarning">
        <pre class="language-erb"><code>
          #1#%= link_to 'Warning Button Small', '#', class: 'button warning-button small-button' %#2#
          #1#%= link_to 'Warning Button Medium', '#', class: 'button warning-button medium-button' %#2#
          #1#%= link_to 'Warning Button Large', '#', class: 'button warning-button large-button' %#2#
          #1#%= link_to 'Warning Button Full Width', '#', class: 'button warning-button full-width-button' %#2#
        </code></pre>
  </div>
    </div>
  </div>
  <!--Buttons Example-->
  <div class= "styleguide__buttons-container">
    <!--Small, Medium & Large Buttons-->
    <div class="styleguide__buttons-container--row">
      <button type="button" name="button" class="button warning-button small-button">Warning Button Small</button>
      <button type="button" name="button" class="button warning-button medium-button">Warning Button Medium</button>
      <button type="button" name="button" class="button warning-button large-button">Warning Button Large</button>
    </div>
    <!--Full Width-->
    <div class="styleguide__buttons-container--row">
      <button type="button" name="button" class="button warning-button full-width-button">Warning Button Full Width</button>
    </div>
  </div>
  <!--Disabled Buttons-->
  <h2 class="styleguide__subtitle-page">Disabled Buttons</h2>
  <p class="styleguide__text">Disabled button classes should be applied when a button is not available yet.</p>
  <!--Code Box-->
  <div class="styleguide__code-example">
    <!--Tabs-->
    <div class="styleguide__tabs-wrapper">
      <button class="styleguide__tabs is-active" data-tab-id="htmldisabled">
        HTML
      </button>
      <button class="styleguide__tabs" data-tab-id="railsdisabled">
        Rails
      </button>
    </div>
    <!--Code-->
    <div class="styleguide__tabs-content">
      <!--HTML-->
      <div class="styleguide__content" data-tab-id="htmldisabled">
        <pre class="language-markup"><code>
          <button type="button" name="button" class="button disabled-button small-button">Disabled Button Small</button>
          <button type="button" name="button" class="button disabled-button medium-button">Disabled  Button Medium</button>
          <button type="button" name="button" class="button disabled-button large-button">Disabled Button Large</button>
          <button type="button" name="button" class="button disabled-button full-width-button">Disabled Button Full Width</button>
        </code></pre>
  </div>
      <!--Rails-->
      <div class="styleguide__content" data-tab-id="railsdisabled">
        <pre class="language-erb"><code>
          #1#%= link_to 'Disabled Button Small', '#', class: 'button disabled-button small-button' %#2#
          #1#%= link_to 'Disabled Button Medium', '#', class: 'button disabled-button medium-button' %#2#
          #1#%= link_to 'Disabled Button Large', '#', class: 'button disabled-button large-button' %#2#
          #1#%= link_to 'Disabled Button Full Width', '#', class: 'button disabled-button full-width-button' %#2#
        </code></pre>
  </div>
    </div>
  </div>
  <!--Buttons Example-->
  <div class= "styleguide__buttons-container">
    <!--Small, Medium & Large Buttons-->
    <div class="styleguide__buttons-container--row">
      <button type="button" name="button" class="button disabled-button small-button">Disabled Button Small</button>
      <button type="button" name="button" class="button disabled-button medium-button">Disabled Button Medium</button>
      <button type="button" name="button" class="button disabled-button large-button">Disabled Button Large</button>
    </div>
    <!--Full Width-->
    <div class="styleguide__buttons-container--row">
      <button type="button" name="button" class="button disabled-button full-width-button">Disabled Button Full Width</button>
    </div>
  </div>
</div>
