<div class="styleguide__grid-title">

  <div class="styleguide_title_main">
    <h1 class="styleguide__title-page">Colors</h1>
  </div>

  <h2 class="styleguide__subtitle-page">Main Colors</h2>

  <div class="styleguide__grid-color">

    <div class="styleguide__card-color">
      <div class="styleguide__show-color">
        <!-- color is displayed here-->
      </div>
      <div class="styleguide_color_description">
        <p class="styleguide__color-variable">$x_blue-main</p>
        <span class="styleguide__color-span">#1e88e5</span>;
      </div>
    </div>

    <div class="styleguide__card-color">
      <div class="styleguide__show-color">
        <!-- color is displayed here-->
      </div>
      <div class="styleguide_color_description">
        <p class="styleguide__color-variable">$x_blue-light</p>
        <span class="styleguide__color-span">#6ab7ff</span>;
      </div>
    </div>

    <div class="styleguide__card-color">
      <div class="styleguide__show-color">
        <!-- color is displayed here-->
      </div>
      <div class="styleguide_color_description">
        <p class="styleguide__color-variable">$x_blue-dark</p>
        <span class="styleguide__color-span">#005cb2</span>;
      </div>
    </div>

    <div class="styleguide__card-color">
      <div class="styleguide__show-color">
        <!-- color is displayed here-->
      </div>
      <div class="styleguide_color_description">
        <p class="styleguide__color-variable">$x_red-main</p>
        <span class="styleguide__color-span">#b71c1c</span>;
      </div>
    </div>

    <div class="styleguide__card-color">
      <div class="styleguide__show-color">
        <!-- color is displayed here-->
      </div>
      <div class="styleguide_color_description">
        <p class="styleguide__color-variable">$x_green-main</p>
        <span class="styleguide__color-span">#2e7d32</span>;
      </div>
    </div>

    <div class="styleguide__card-color">
      <div class="styleguide__show-color">
        <!-- color is displayed here-->
      </div>
      <div class="styleguide_color_description">
        <p class="styleguide__color-variable">$x_white</p>
        <span class="styleguide__color-span">#FFFFFF</span>;
      </div>
    </div>

    <div class="styleguide__card-color">
      <div class="styleguide__show-color">
        <!-- color is displayed here-->
      </div>
      <div class="styleguide_color_description">
        <p class="styleguide__color-variable">$x_gray-light</p>
        <span class="styleguide__color-span">#efefef</span>;
      </div>
    </div>

    <div class="styleguide__card-color">
      <div class="styleguide__show-color">
        <!-- color is displayed here-->
      </div>
      <div class="styleguide_color_description">
        <p class="styleguide__color-variable">$x_gray-main</p>
        <span class="styleguide__color-span">#bdbdbd</span>;
      </div>
    </div>

    <div class="styleguide__card-color">
      <div class="styleguide__show-color">
        <!-- color is displayed here-->
      </div>
      <div class="styleguide_color_description">
        <p class="styleguide__color-variable">$x_gray-medium</p>
        <span class="styleguide__color-span">#757575</span>;
      </div>
    </div>

    <div class="styleguide__card-color">
      <div class="styleguide__show-color">
        <!-- color is displayed here-->
      </div>
      <div class="styleguide_color_description">
        <p class="styleguide__color-variable">$x_gray-dark</p>
        <span class="styleguide__color-span">#212121</span>;
      </div>
    </div>

    <div class="styleguide__card-color">
      <div class="styleguide__show-color">
        <!-- color is displayed here-->
      </div>
      <div class="styleguide_color_description">
        <p class="styleguide__color-variable">$x_black</p>
        <span class="styleguide__color-span">#000000</span>;
      </div>
    </div>
  </div>
  <!-- COLOR VARIABLES EXPLANATION-->
  <div class="styleguide__color-info">

    <div>
      <h2 class="styleguide__subtitle-page styleguide__colorinfo-subtitle">Naming Color Variables</h2>
      <p class="styleguide__text">When you want to use a color on a component you must follow this steps:</p>
    </div>

    <div class="styleguide__color-info_step">
      <!-- step 1-->
      <div class="styleguide__example-container">

        <div class="styleguide__example-description">
          <p class="styleguide__text styleguide_text_colorinfo"><b>1.</b> Choose the color you want to use and assign it to a internal variable.<br>(If the color you want to use has already a variable, skip this step)</p>
        </div>

        <div class="styleguide__example-output">
          <div class="styleguide__card-color">
            <div class="styleguide__show-color">
              <!-- color is displayed here-->
            </div>
            <div class="styleguide_color_description">
              <p class="styleguide__color-variable">blue</p>
              <span class="styleguide__color-span">#1e88e5</span>;
            </div>
          </div>
          <div class="styleguide__color-info__divisor">
            <span>=</span>
          </div>
          <div class="styleguide__card-color">
            <div class="styleguide__show-color">
              <!-- color is displayed here-->
            </div>
            <div class="styleguide_color_description">
              <p class="styleguide__color-variable">$x_blue-main</p>
              <span class="styleguide__color-span">#1e88e5</span>;
            </div>
          </div>
        </div>
      </div>
      <!-- step 2-->
      <div class="styleguide__example-container">
        <div class="styleguide__example-description">
          <p class="styleguide__text styleguide_text_colorinfo"><b>2.</b> If you want to use the color on a website element, you must first assign it to a global variable.<br>The variable beigns with the initial of the variable type c(color),followed by the element, and the section of the element where will be applied the color.</p>
        </div>

        <div class="styleguide__example-output">
          <div class="styleguide__card-color">
            <div class="styleguide__show-color">
              <!-- color is displayed here-->
            </div>
            <div class="styleguide_color_description">
              <p class="styleguide__color-variable">$x_blue-light</p>
              <span class="styleguide__color-span">#6AB7FF</span>;
            </div>
          </div>
          <div class="styleguide__color-info__divisor">
            <span>=</span>
          </div>
          <div class="styleguide__card-color">
            <div class="styleguide__show-color">
              <!-- color is displayed here-->
            </div>
            <div class="styleguide_color_description">
              <p class="styleguide__color-variable">$c_button-background</p>
              <span class="styleguide__color-span">#6AB7FF</span>;
            </div>
          </div>
        </div>
      </div>
      <!-- example-->
      <div class="styleguide__example-container">
        <div class="styleguide__example-description">
          <p class="styleguide__text styleguide_text_colorinfo">This is how the final result looks like.</p>
        </div>
        <div class="styleguide__example-output">
          <div class="styleguide__color-info__variables">
            <%= image_tag '/styleguide/color_explanation.svg', class: 'styleguide__color-info__variables-img' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<pre>
