<div class="styleguide__grid-title">
  <div class="styleguide_title_main">
    <h1 class="styleguide__title-page">Styleguide</h1>
  </div>

  <p class="styleguide__text">This styleguide helps you create a website faster.</p>
  <p class="styleguide__text">You can open the menu to navigate through the specific categories.</p>
</div>
