<div class="styleguide__grid-title">

  <div class="styleguide_title_main">
    <h1 class="styleguide__title-page">Utility Classes</h1>
  </div>
  <!-- Explanation-->
  <p class="styleguide__text styleguide_text_colorinfo">In our styleguide, you'll find a css page name Utility Classes.<br>The purpose of Utility Classes is to do one simple job really well — for example — centering text.<br></p>
  <ul class="styleguide__example-list">
    <p class="styleguide__text"> The classes should be:</p>
    <li>simple</li>
    <li>composable</li>
    <li>re-usable</li>
  </ul>
  <p class="styleguide__text">They also must be named in a <b>functional</b> way instead of a semantic way.</p>
  <div class="styleguide__example-container">
    <div class="styleguide__example-description-code">
<!-- This identation is on purpose in order for the pre tag to work-->
      <pre class="language-css"><code>
.center
{
  text-align: center;
}
      </code></pre>
    </div>
    <div class="styleguide__example-output">
      <p>centered text</p>
    </div>
  </div>
</div>
