<div class="styleguide__grid-title">
  <div class="styleguide_title_main">
    <h1 class="styleguide__title-page">Variables</h1>
  </div>

  <h2 class="styleguide__subtitle-page">Naming Variables</h2>
  <p class="styleguide__text">There are many types of variables and they must be declared following some certain rules.</p>
  <div class="styleguide__example-container">
    <div class="styleguide__example-description">
      <p class="styleguide__text">The variable should start with the initial of the variable type.</p>
    </div>

    <div class="styleguide__example-output">
      <div class"styleguide_variables">
        <p class="styleguide__text"><b>c</b> — color</p>
        <p class="styleguide__text"><b>f</b> — font/font-weight</p>
        <p class="styleguide__text"><b>s</b> — size</p>
        <p class="styleguide__text"><b>d</b> — duration</p>
      </div>
    </div>
  </div>
  <!-- button example-->
  <p class="styleguide__text">Let's take a look at this example. All the variables used for the component are on the right.</p>
  <div class="styleguide__variables-button_container">
    <div class="styleguide__example-container">
      <div class="styleguide__example-description">
        <ul class="styleguide__variables-button__elements-list">
          <p>Colors</p>
          <li>Text Color — <code>$c_button-text</code></li>
          <li>Border Color— <code>$c_button-border</code></li>
        </ul>
        <ul class="styleguide__variables-button__elements-list">
          <p>Font</p>
          <li>Font Weight — <code>$f_bold</code></li>
        </ul>
        <ul class="styleguide__variables-button__elements-list">
          <p>Size</p>
          <li>Border Weight — <code>$s_border</code></li>
        </ul>
      </div>

      <div class="styleguide__example-output">
        <button class="styleguide__variables-button--example">I'm just a button</button>
      </div>
    </div>
  </div>
</div>
