.progress-bar {
  border: $s_border solid var(--color);
  border-radius: $s_radius;
  height: spacer();
  position: relative;
  clip-path: border-box;

  &:after {
    background-color: var(--color);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: calc(var(--percentage) * 1%);
  }
}
