/**
 * This variables are only assigned to FORM elements.
 *
 * The accent colors of the project are already assigned to internal variables
 * in the colors stylesheet of the styleguide
 * (e.g.: theme-color("primary"), neutral-color("lightest"),...).
 *
 *
 * The name of this variables should follow this rule:
 * $c_nav-text
 *
 *
 * The variable begins with the initial of the variable type c (color),
 * followed by the element, and the section of the element where will be applied
 * the color.
 *
 * $c_nav
 *
 * In this case this variable represents the background color of the element.
 */

@use "sass:color";

/* INPUT COLORS */
$c_input: transparent; // input bg
$c_input--active: neutral-color("200");
$c_input--disabled__border: neutral-color("500");
$c_input--disabled__symbol: neutral-color("400");
$c_input--hover: color.adjust(theme-color("secondary"), $lightness: 20%, $saturation: -10%);
$c_input-border: neutral-color("darkest");
$c_input-border--checkbox: theme-color("secondary");
$c_input-border--toggle: theme-color("secondary");
$c_input-border--radio: theme-color("secondary");
$c_input-border--active: theme-color("secondary");
$c_input-placeholder: neutral-color("500");
$c_input-symbol: theme-color("secondary");

/* SELECT2 COLORS */
$c_select2__option--active: theme-color-shade("primary", -8%);
$c_select2__option--hover: theme-color();
$c_select2__option-text: neutral-color();
$c_select2__search-border: neutral-color("400");

/* DATEPICKER COLORS */
$c_datepicker-border: neutral-color();
$c_datepicker-td: neutral-color("200");
$c_datepicker-details: theme-color-shade("primary", -8%);
$c_datepicker--hover: theme-color-shade("primary", 8%);
