/** Select Box
 * Adapted from: https://kyusuf.com/post/completely-css-custom-checkbox-radio-buttons-and-select-boxes
 *
 * HTML example:
 <div class="control-group">
   <div class="select">
     <select class="input-text">
       <option>First select</option>
       <option>Option</option>
       <option>Option</option>
     </select>
     <div class="select__arrow"></div>
   </div>
  </div>
 *
 *
 * To update the colors of the inputs, the variables should be changed on colors.scss
 *
 */


.select {
  display: inline-block;
  position: relative;
  width: 100%;

  select {
    @extend .fs-step-1;
    @include input_basics;

    appearance: none;
    cursor: pointer;
    font-family: $f_family--primary;
    outline: 0;
  }

  .select__arrow {
    border-color: $c_input-symbol transparent transparent transparent;
    border-style: solid;
    border-width: 8px 5px 0;
    height: 0;
    pointer-events: none;
    position: absolute;
    right: $s_input-padding-left;
    top: 30px;
    width: 0;
  }

  select::-ms-expand {
    display: none;
  }

  select:hover {
    background: $c_input--hover;
  }

  select:disabled {
    color: $c_input--disabled__symbol;
  }

  select:disabled ~ .select__arrow {
    border-top-color: $c_input--disabled__symbol;
  }
}
